*{
	box-sizing: border-box;
}




@keyframes dance {
  0% {
    position: relative;
    top: 0px;
    right: 0px;
	}
  50% {
  	position: relative;
  	top: -500px;
  }	
  100% {
  	position: initial;
  	top: 0px;
  }		 
}



#dancingCarlton {
  animation: dance 20s infinite;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}





